
html, body {
  background: linear-gradient(to bottom, hsl(173, 100%, 24%), #001f3f); /* Gradient from dark electric blue to black */
  background-size: auto;
  background-repeat: repeat-y;
  overflow-x: auto;
  overflow-y: auto;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  font-family: Arial, sans-serif; /* Optional: Set a default font family */
  height: 2500px; /* Set the height to 2500px */
}


/* Styles for header and navigation */
.header {
    background-image: url('https://raw.githubusercontent.com/arrowgtr/cryptoprice/main/sources/header.png'); /* URL of your header image */
    background-size: cover;
    background-position: center;
    text-align: center;
}
.header-nav {
    position: relative; 
    left: 48%;
    bottom: -82px;
    width: 90%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    background-color: #316879; /* Blue metallic color */
    padding: 5px 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}





.header-nav ul {
   
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.header-nav ul li {
    display: inline;
    margin-right: 80px; /* Adjust the margin-right for spacing */
}

.header-nav ul li:last-child {
    margin-left: 40px; /* Remove margin-right for the last list item */
}

.header-nav ul li a {
    position: relative;
    left: 10px%;
    font-weight: bold;
    color: #ffffff;
    font-size: 2em;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease;
    overflow: hidden;
    z-index: 1;
}

.header-nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: linear-gradient(to bottom, hsl(173, 100%, 24%), #001f3f);
    transition: width 0.3s ease;
}

.header-nav ul li a:hover::after {
    width: calc(100% - 20px); /* Αφήνουμε κενό 10px στο αριστερό και δεξί περιθώριο */
    height: 4px; /* Αυξάνουμε το ύψος του περιγράμματος */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); /* Προσθέτουμε σκίασμα */
}


 /* Styles for footer */
footer {
    position: absolute; /* Set the position to relative */
    top: 2550px; /*
    background-color: #00796B; /* Green electric emerald color */
    color: #07b17b;
    width: 95%;
    text-align: center;
    font-size: 2rem;
    margin-top: 20px; /* Add margin-top to create space between footer and content */
}

.footer-nav {
    top: 121px; 
    width: 100%;
    display: inline-block;
}

.footer-nav ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.footer-nav ul li {
    display: inline;
}

.footer-nav ul li a {
    color: #15c289;
    text-decoration: none;
}
